<div class="container mt-5" style="border-radius: 15px; height: auto; background-color: lightgray;">
    <div class="row pt-3 px-2">
        <div class="col-2">
            <h2 style="font-weight: 700;">Tareas</h2>
        </div>
    </div>
    <hr>
    <div class="my-5 pb-5 px-4">
        <form [formGroup]="tarea" (ngSubmit)="updateTarea()">
            <h2>Editar Tarea</h2>
            <div class="mb-3">
                <label for="idTarea" class="form-label">ID Tarea</label>
                <input type="text" class="form-control" id="idTarea" name="idTarea" formControlName="idTarea" readonly>
            </div>
            <div class="mb-3">
                <label for="nombreTarea" class="form-label">Nombre Tarea</label>
                <input type="text" class="form-control" id="nombreTarea" name="nombreTarea" formControlName="nombreTarea" required>
            </div>
            <div class="mb-3">
                <label for="descripcion" class="form-label">Descripción</label>
                <input type="text" class="form-control" id="descripcion" name="descripcion" formControlName="descripcion" required>
            </div>
            <div class="mb-3">
                <label for="estado" class="form-label">Estado</label>
                <select class="form-control" name="estado" id="estado" formControlName="estado">
                    <option value="Pendiente">Pendiente</option>
                    <option value="En Progreso">En Progreso</option>
                    <option value="Completada">Completada</option>
                </select>
            </div>
            <div class="mb-3">
                <label for="fechaEntrega" class="form-label">Fecha Entrega</label>
                <input type="date" class="form-control" id="fechaEntrega" name="fechaEntrega" formControlName="fechaEntrega" required>
            </div>
            <button type="submit" class="btn btn-primary">Enviar</button>
        </form>
    </div>
</div>